/* navBar */
.nav-shadow{
    z-index:5;
    background: #ffffff;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;
    }
    
    .nav-underline{
      border-bottom: 5px solid #1D3944;
    }
    .nav-underline-hover{
      border-bottom: 0px solid #1D3944;
      
      transition: border-bottom 0.1s;
    }
    .nav-underline-hover:hover{
      border-bottom: 5px solid #1D3944;
    }
    
    @media only screen and (max-width: 600px) {
      .logo{
        width: 50%;
      }
      }

      
/* content */

/* 
.panel{
    
    margin-bottom: 50px;
    
} */
/* .panel-margin{
    height: 165px;
    z-index: 4;
    background-color: rgb(255, 255, 255);
} */

/* .row{
    
    background-color: rgb(216, 10, 10);
    border-radius: 17px;
} */


/* html {
  height: 100vh;
} */

body {
  height: 500vh;
  /* background: #000; */
}

canvas {
  position: fixed;
  left: 50%;
  top: 62%;
  max-height: 70vh;
  min-height: 30vh;
  height: auto;
  width: 60%; 
  transform: translate(-50%, -50%);
  
  object-fit: cover;
  border-radius: 14px;
}



@media only screen and (max-width: 760px) {
  canvas {
    left: 50%;
    top: 55%;
    /* height: 70vh; */
    height: auto;
    width: 95%; 
    transform: translate(-50%, -50%);
    
    
  }
}

@media only screen and (max-width: 500px) {
  canvas {
    left: 50%;
    top: 55%;
    /* height: 70vh; */
    height: 50vh;

    width: 80%; 
    transform: translate(-50%, -50%);

    
  }
}

/* ///////// */

/* .scroll-p{
  font-size: 12px;
} */
.scroll-downs {
  position: fixed;
  top: 0;
  right: 0;
  /* bottom:0 ; */
  left: 0;
  
  margin: auto;
  margin-top: 50vh;
  z-index: 5;
  width :118px;
  height: 55px;
}
.mousey {
  background-color:black;
  width: 2px;
  padding: 9px 15px;
  height: 27px;
  margin: auto;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 7px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

.scroll-downs {
  animation: cssAnimation 0s 3s forwards;
  visibility: visible;
}

@keyframes cssAnimation {
  to   { visibility: hidden; }
}