/* navBar */
.nav-shadow{
    z-index:5;
    background: #ffffff;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;
    }
    
    .nav-underline{
      border-bottom: 5px solid #1D3944;
    }
    .nav-underline-hover{
      border-bottom: 0px solid #1D3944;
      
      transition: border-bottom 0.1s;
    }
    .nav-underline-hover:hover{
      border-bottom: 5px solid #1D3944;
    }
    
    @media only screen and (max-width: 600px) {
      .logo{
        width: 50%;
      }
      }

      
/* content */

/* 
.panel{
    
    margin-bottom: 50px;
    
} */
.panel-margin{
    height: 165px;
    z-index: 4;
    background-color: rgb(255, 255, 255);
}

/* .row{
    
    background-color: rgb(216, 10, 10);
    border-radius: 17px;
} */


/* html {
  height: 100vh;
} */

body {
  height: 500vh;
  /* background: #000; */
}

canvas {
  position: fixed;
  left: 50%;
  top: 60%;
  height: 80vh;
  width: 80%; 
  transform: translate(-50%, -50%);
  /* max-width: 70vw;
  max-height: 60vh; */
  object-fit: cover;
  border-radius: 17px;
}

@media only screen and (min-width: 600px) {
  canvas {
    position: fixed;
    left: 50%;
    top: 60%;
    height: 65vh;
    width: 80%; 
    transform: translate(-50%, -50%);
    /* max-width: 70vw;
    max-height: 60vh; */
    object-fit: cover;
    border-radius: 17px;
  }
}