.display{
  display: block;
}
@media only screen and (max-width: 1400px) {
  .display{
    display: none;
  } 
  .col-xl-8 {
    flex: 0 0 auto;
    width: 100%;
}
  }
/* navBar */
.nav-shadow{
 z-index: 5;
background: #ffffff;
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.nav-underline{
  border-bottom: 5px solid #1D3944;
}
.nav-underline-hover{
  border-bottom: 0px solid #1D3944;
  
  transition: border-bottom 0.1s;
}
.nav-underline-hover:hover{
  border-bottom: 5px solid #1D3944;
}

@media only screen and (max-width: 600px) {
  .logo{
    width: 50%;
  }
  }


/* about page animation */
*{
    
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .index header{
    margin-top: 80px;
} */

/* .index .slider{
    position: absolute;
    top: 16vw;
    left:0;
    width:100%;
    height:100vh;
    background: linear-gradient(15deg, #ffca0a, #ffa559, #ff8d9e, #ff91db, #d5a4ff);
    z-index: -1;
} */

.index section{
  background-color: #363636;

    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.index .frontimg{

    height: 80%;
    width: 100%;
}

.index .frontimg img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

/* .index .headline {
    position: absolute;
    top: 70%;
    left:10%;
    font-size: 100px;
    transform: translate(5%,-70%);
    color: white;
    z-index: 3;
} */

@media only screen and (max-width: 600px) {
  .index .headline {
        max-width: 70%;
        font-size: 40px;
        transform: translate(-0%,-20%);
    }
    
  }
  /* meta */
  .metaImg{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .metaImg img{
    border-radius: 50px;
  }
  @media only screen and (max-width: 768px) {
  .metaImg {
    margin-left: auto;
    margin-right: auto;
    width: 88%;
  }
  .metaImg img{
    border-radius: 23px;
  }
}
  /* row 1 card 1 and card 2 */
  .card1{
    padding: 5px;
    position: relative;
    width: 100%;
    padding: 2% 0;
    background-color: #363636;
    border-radius: 45px;
  }
  .card1:hover{
  
    background-color: #4b4b4b;
  }
  .card2{
    padding: 5px;
    position: relative;
    width: 100%;
    padding: 2% 0;
    background-color: #363636;
    border-radius: 45px;
  }
  .calenderImg{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .card2:hover{
  
    background-color: #4b4b4b;
  }
  .locationText{
    margin-left:auto;
    margin-right:auto;
    color: #d6d6d6;
    width: 226px;
  }
  .locationText2{
    margin-left:auto;
    margin-right:auto;
    color: #d6d6d6;
    width: 277px;
  }
  .locationImg{
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .clockText{
    margin-left:auto;
    margin-right:auto;
    color: #d6d6d6;
    width: 221px;
  }
  .clockText2{
    margin-left:auto;
    margin-right:auto;
    color: #d6d6d6;
    width: 301px;
  }
  .clockText3{
    margin-left:auto;
    margin-right:auto;
    color: #d6d6d6;
    width: 203px;
  }
  .clockText4{
    margin-left:auto;
    margin-right:auto;
    color: #d6d6d6;
    width: 283px;
  }
  .clockImg{
    width: 27%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  @media only screen and (max-width: 768px) {
    .cont{
      padding:0 40px;
    }
  }
  /* row 2 card 3 and card 4 */
  .card3{
    padding: 5px;
    position: relative;
    width: 100%;
    padding: 7% 0;
    background-color: #363636;
    border-radius: 45px;
  }
  .card3:hover{
  
    background-color: #4b4b4b;
  }
  .card4{
    padding: 5px;
    position: relative;
    width: 100%;
    padding: 7% 0;
    background-color: #363636;
    border-radius: 45px;
  }
  .card4:hover{
  
    background-color: #4b4b4b;
  }
  .socialImg{
    height:104px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .socialImgMobile{
    /* height:104px; */
    width: 21%;
    margin-left: auto;
    margin-right: auto;
  }
  @media only screen and (max-width: 768px) {

  .card4{
    
    padding: 9% 9%;
   
  }
}

/* row 3 card 5 */
.card5{
    padding: 5px;
    position: relative;
    width: 100%;
    padding: 5% 0;
    background-color: #363636;
    border-radius: 45px;
}
.card5:hover{
  
  background-color: #4b4b4b;
  cursor: pointer;
}
.pastevent{
  font-size:150px;
  color: #d6d6d6;
}
.arrow{
  width: 113px;
  height: auto;
}

@media only screen and (max-width: 1400px) {
  .socialImg{
    height:79px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .pastevent{
    font-size:96px;
    color: #d6d6d6;
  }
  .arrow{
    width: 113px;
    height: auto;
  }
  }
  @media only screen and (max-width: 1200px) {
    .socialImg{
      height:74px;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media only screen and (max-width: 988px) {
    .socialImg{
      height:66px;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media only screen and (max-width: 768px) {
    /* .cont{
      padding:0 40px;
    } */
    .socialImg{
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
    .pastevent{
      font-size:60px;
      color: #d6d6d6;
    }
    .arrow{
      width: 68px;
      height: auto;
    }
    }
    @media only screen and (max-width: 415px) {
      .cont{
        padding:0 40px;
      }
      .socialImg{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
      }
      .pastevent{
        font-size:38px;
        color: #d6d6d6;
      }
      .arrow{
        width: 44px;
        height: auto;
      }
      }
   
/* row4 card 6 and card 7 */
  
.card6{
  padding: 3% 0;
  position: relative;
  width: 100%;
  background-color: #363636;
  border-radius: 45px;
}
.card6:hover{

  background-color: #4b4b4b;
}
.card7{
  padding: 5px;
  position: relative;
  width: 100%;
  padding-top: 87%;
  background-color: #363636;
  border-radius: 45px;
}
.card7:hover{

  background-color: #4b4b4b;
}
.tedxHeading{
  color:#fff;
  font-size: 69px;
  padding:0 72px;
 
 }
 .tedxPara{
   color:#fff;
   font-size: 24px;
   padding:0 72px;
 }
@media only screen and (max-width: 768px) {

.card7{
  
  padding-top: 40%;
 
}
}
@media only screen and (max-width: 1000px) {
  .tedxHeading{
    color:#fff;
    font-size: 55px;
    padding:0 72px;
   
   }
   .tedxPara{
     color:#fff;
     font-size: 22px;
     padding:0 72px;
   }
  }
  @media only screen and (max-width: 566px) {
    .tedxHeading{
      color:#fff;
      font-size: 46px;
      padding:0 42px;
     
     }
     .tedxPara{
       color:#fff;
       font-size: 17px;
       padding:0 42px;
     }
    }
    @media only screen and (max-width: 400px) {
      .tedxHeading{
        color:#fff;
        font-size: 36px;
        padding:0 42px;
       
       }
       .tedxPara{
         color:#fff;
         font-size: 13px;
         padding:0 42px;
       }
      }


/* row 5 card 8 */
.card8{
  padding: 5px;
  position: relative;
  width: 100%;
  padding: 3% 0;
  background-color: #363636;
  border-radius: 45px;
}
.card5:hover{

background-color: #4b4b4b;
cursor: pointer;
}
.bitsathyHeading{
 color:#fff;
 font-size: 69px;
 padding:0 72px;

}
.bitsathyPara{
  color:#fff;
  font-size: 24px;
  padding:0 72px;
}
@media only screen and (max-width: 1000px) {
  .bitsathyHeading{
    color:#fff;
    font-size: 55px;
    padding:0 72px;
   
   }
   .bitsathyPara{
     color:#fff;
     font-size: 22px;
     padding:0 72px;
   }
  }
  @media only screen and (max-width: 566px) {
    .bitsathyHeading{
      color:#fff;
      font-size: 46px;
      padding:0 42px;
     
     }
     .bitsathyPara{
       color:#fff;
       font-size: 17px;
       padding:0 42px;
     }
    }
    @media only screen and (max-width: 400px) {
      .bitsathyHeading{
        color:#fff;
        font-size: 36px;
        padding:0 42px;
       
       }
       .bitsathyPara{
         color:#fff;
         font-size: 13px;
         padding:0 42px;
       }
      }

  /* row 2 card 3 and card 4 */
  .card9{
    padding: 5px;
    position: relative;
    width: 100%;
    padding-top: 87%;
    background-color: #363636;
    border-radius: 45px;
  }
  .card9:hover{
  
    background-color: #4b4b4b;
  }
  .card10{
    padding: 5px;
    position: relative;
    width: 100%;
    padding-top: 43%;
    background-color: #363636;
    border-radius: 45px;
  }
  .card10:hover{
  
    background-color: #4b4b4b;
  }
  @media only screen and (max-width: 768px) {

  .card9{
    
    padding-top: 87%;
   
  }
}


.fade {

  opacity: 1;
}









/* ///////////team-heading//////////// */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
.team-heading{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 4vw;
    width: 100%;
    
}



.team-heading .word {
  position: absolute;
 
  opacity: 0;
}

.team-heading .letter {
  display: inline-block;
  
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.team-heading .letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.team-heading .letter.behind {
  transform: rotateX(-90deg);
}

.team-heading .letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.team-heading .color1 {
  width: 145%;
  color: #c0392b;
}
.team-heading .color2 {
  width: 194%;
  color: #2980b9;
}
.team-heading .color3 {
  width: 100%;
  color: #16a085;
}
.team-heading .color4 {
  width: 179%;
  color: #cfbb00;
}
.team-heading .color5 {
  width: 187%;
  color: #9f00c7;
}
.team-heading .thisIs {
  float: right;
  
}

/*  team comtent 1*/

.img-container {
  
  position: relative;
  text-align: center;
  color: white;
}
.bottom-left {
  position: absolute;
  
  bottom: 43%;
  right: 40%;
  color: #363636;
  font-weight: 800;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
:root {
    --font3: 'Roboto', sans-serif;
}

.h1,
h1 {
    font-size: 1.5rem;
}

.container-fluid {
    max-width: 1400px;
}

.card {
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    border: 1;
    border-radius: 1rem;
}

.img-hover-zoom--colorize img {
    border-radius: 50%;
    width: 120px;
    height: auto;
    margin-top: 20px;
    padding: 1px;
    transition: transform .5s;
    filter: grayscale(100%);
}

.img-hover-zoom--colorize:hover img {
    filter: grayscale(0);
    transform: scale(1.05);
}

.card h5 {
    overflow: hidden;
    height: 80px;
    font-weight: 300;
    font-size: 1rem;
}

.card h5 a {
    color: black;
    text-decoration: none;
}

.role {
    color: #7a7a7a;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fab {
    font-size: 1.5rem;
    color: darkgray;
    transition: transform .5s;
}

.fab:hover {
    color: black;
    transform: scale(1.1);
}

.card h2 {
    font-size: 1rem;
}


/* MEDIA */

@media only screen and (min-width: 1200px) {
    .img-hover-zoom--colorize img {
        width: 200px;
    }
}

@media only screen and (min-width: 1200px) {
    .h1,
    h1 {
        font-size: 2rem;
    }
}